.shder {
    display:block;
    height:55px;
    width:100%;
    border-bottom:1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.5);
    font-family:Arial, "微软雅黑", "宋体", Tahoma, Helvetica, sans-serif;
    position:fixed;
    top:0;
    left:0;
    -webkit-transition: background 0.5s ease 0s;
    -moz-transition: background 0.5s ease 0s;
    -ms-transition: background 0.5s ease 0s;
    -o-transition: background 0.5s ease 0s;
    transition: background 0.5s ease 0s;
    z-index:999;
}
.shderHide {border-radius:0 0 8px 0;background: rgba(0, 0, 0, 0.1);border-bottom:1px solid rgba(0, 0, 0, 0.1);}
.shder ul {height:100%;float:left;margin-left:150px;}
.shder ul li {
    float:left;
    padding:0 20px 0 20px;
    height:100%;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.shder ul li:hover {cursor:pointer;background: rgba(255, 255, 255, 0.09);}
.shder ul li.select {background: rgba(255, 255, 255, 0.09);}
.shder ul li a {height:100%;line-height:55px;font-size:14px;color:#fff;}

.shder .slideBtns {
    position:relative;
    height:100%;
    width:55px;
    float:right;
    line-height:55px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.shder .slideBtns:hover {cursor:pointer;background: rgba(255, 255, 255, 0.09);}
.shder .slideBtns span {position:absolute;top:18px;left:18px;font-size:20px;color:#fff;}
.shder .slideBtns span.hide {display:none;}
.shder .slideBtns span.slideIn.show {color: #bf570c;}
