<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Fancy的小站-Welcome</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/javascript.fullPage.css" />
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet/less" href="../css/slideheader.less"/>
    <link rel="stylesheet/less" href="../css/DynamicLogo.less"/>
    <link rel="stylesheet/less" href="../css/index.less"/>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.cookie.js"></script>
    <script src="../js/slideheader.js"></script>
    <script src="../js/less-1.7.1.min.js"></script>
    <script src="../js/javascript.fullPage.min.js"></script>
    <script src="../js/index.js"></script>
</head>
<body>
<div class="content">
    <div class="section index">
        <video loop="loop" autoplay="autoplay">
            <source src="./resource/media/video2.mp4" type="video/mp4; codecs=avc1.42E01E, mp4a.40.2"/>
        </video>
        <div class="dot"></div>
        <div class="index-content">
            <div class="lflogo-container">
                <div class="ball"><div class="edge"><div class="inner-edge"></div></div></div>
                <div class="ball"><div class="edge"><div class="inner-edge"></div></div></div>
                <div class="ball"><div class="edge"><div class="inner-edge"></div></div></div>
                <div class="ball"> <div class="edge"><div class="inner-edge"></div></div></div>
                <div class="ball"><div class="edge"><div class="inner-edge"></div></div></div>
                <div class="ball"><div class="edge"><div class="inner-edge"></div></div></div>
                <div class="round">
                    <div class="logo">
                        <div class="leftin"><div></div><div></div></div>
                        <div class="topin"><div></div><div></div></div>
                    </div>
                    <div class="info">Change The World.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="section about"><img src="../resource/images/Wuyuetian.jpg"/><div class="dot"></div></div>
    <div class="section note">456</div>
    <div class="section photos">789</div>
</div>
<header>
    <ul>
        <li chor="index" class="select"><a href="javascript:;">Welcome</a></li>
        <li chor="about"><a href="javascript:;">关于我</a></li>
        <li chor="note"><a href="javascript:;">云笔记</a></li>
        <li chor="photos"><a href="javascript:;">照片墙</a></li>
        <!--<li data-menuanchor="index"><a href="javascript:;">敬请期待</a></li>-->
    </ul>
</header>
<footer class="myfooter">
    <div class="music glyphicon glyphicon-music play" title="点击切换">
        <audio autoplay="autoplay" loop="loop" id="music">
            <source src="../resource/media/LOVIN_YOU.mp3" type="audio/mpeg"/>
        </audio>
    </div>
</footer>
</body>
</html>